.builds-sidebar-content-container {
  margin-top: 10px;

  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;

    strong {
      margin: 7.5px 0 7.5px 10px;
    }

    .nav-item {
      display: flex;
      justify-content: space-between;
      padding: 7.5px 5px 7.5px 10px;
      text-align: left;
      color: white;
      width: 100%;
      box-sizing: border-box;

      &:hover,
      &.active {
        background: #000;
      }
    }

    .new-build-button {
      padding: 10px;
      background: #7e0d0d;

      display: flex;
      justify-content: center;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
      margin-top: 10px;

      transition: all 0.3s ease-in-out;

      &:hover {
        background: #8f1313;
      }
    }
  }

  .no-data {
    margin: 20px 10px;
  }
}